.shadow-box{
    box-shadow: rgba(163, 163, 163, 0.5) 0px 0px 4px 0px;
}
.blog-side label {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dotted rgb(41, 68, 192);
    border-radius: 6px;
    cursor: pointer;
    font-size: large;
  }
  
  .blog-side label span {
    font-weight: lighter;
    font-size: small;
    padding-top: 0.5rem;
  }
  .blog-side label:hover,
  .upload-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  
  .error {
    text-align: center;
  }
  
  .error span {
    color: red;
  }
  .swiper-pagination{
    border-radius: 50px;
    width: 55px !important;
    margin-left: 210px;
  }
  .swiper-button-prev,
  .swiper-button-next{
    color: white !important
  }